.cta-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: slategrey;
    background:linear-gradient(90deg, rgba(0,0,0,0.73) 33%, rgba(0,0,0,0.45) 100%), url('../../src/img/cta-voyage.jpg') center center;
    background-size: cover;
    padding: 40px 0;
    @include for-tablet-portrait-up{
    background:linear-gradient(90deg, rgba(0,0,0,0.73) 33%, rgba(0,0,0,0.45) 56%, rgba(0,0,0,0.00) 74%), url('../../src/img/cta-voyage.jpg') center center;
    background-size: cover;
    padding: 80px 0;
    }
}

.cta-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    max-width: 1024px;
    width: 100%;
    //margin: 0 auto;
    @include for-tablet-portrait-up{
    align-items: flex-start;
    min-height: 240px;
    }
    &__title {
    font-size: 18px;
    color: $textWhite;
    margin: 0 16px;
    font-weight: bold;
    max-width: 344px;
    @include for-tablet-portrait-up{
    margin: 0 0 0 16px;
    font-size: 36px;
    max-width: 576px;
    }
    & a{
        color: #EDC46A;
    }
    & a:focus, & a:hover{
        color: darken(#EDC46A, 10%);
    }

}
}
