diagrame.sketch
8pt-grid-template.sketch
wireframe.sketch
design.sketch
documents
images
index.php
.DS_Store
**/.DS_Store
mf-theme-original
mf-wordpress/wp-admin
mf-wordpress/wp-includes
mf-wordpress/*.php
mf-wordpress/readme.html
mf-wordpress/wp-content/languages
mf-wordpress/wp-content/plugins
mf-wordpress/wp-content/themes/twentyfifteen
mf-wordpress/wp-content/themes/twentyseventeen
mf-wordpress/wp-content/themes/twentysixteen
mf-wordpress/wp-content/themes/twentysixteen
mf-wordpress/wp-content/themes/mftheme/index.html
mf-wordpress/wp-content/themes/mftheme/src/index.html
mf-wordpress/wp-content/themes/mftheme/node_modules
mf-wordpress/wp-content/themes/mftheme/assets/css
mf-wordpress/wp-content/themes/mftheme/assets/img
mf-wordpress/wp-content/themes/mftheme/assets/js
mf-wordpress/wp-content/upgrade/*
mf-wordpress/wp-content/uploads/*
