/* Gabriel M
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Gabriel M
 */

$bgcolorlightPurple: #6464A5;
$bgcolorDarkPurple: darken(#6464A5,10%);
$bgcolorLightOrange: #BD593F;
$bgcolorDarkOrange: darken($bgcolorLightOrange, 5%);
$textWhite: white;
$textDark: #333333;
$textLightGrey:#717171;
$texLinkDark: darken(#6464A5,10%);
$tagcolorGreen: #2F8374;
